# Database
MONGODB_URI=mongodb://localhost:27017/jewellery
# JWT Secret
JWT_SECRET=9e120d5295e12f34e59466606fe10e4c

# JWT Expiration
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development

